
body
{
	margin: 0px 0px 0px 0px;
}
.main {
	background-image: url(https://www.nastol.com.ua/download.php?img=201311/2560x1600/nastol.com.ua-66304.jpg);
	width:100%;
	height:auto;
}

.header{
	width: auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.header hr
{
	margin: 0 15% 0 12%;
}

.shapka{
	height:200px;
	width: 100%;
}
.shapka img{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 12%;
}

.content
{
	margin: 0 0 0 12%;
	width: 100%;
	height: 500px;
}


.menu 
{
	width: 73.6%;
	height: 50px;
	margin: 0px 0px 0px 12%;
	background-image: url(../img/f.jpg);
}

ul.men {
	float:right;
	margin: 0.5% 12% 0 50px;
}
ul.men li
{
	float: left;
	padding: 0 0px 0 6px;
	list-style: none;
	margin: 1px 2px 0 0;
}
ul.men li a {
	font: normal 120% 'trebuchet ms', sans-serif;
	display: block;
	height:20px;
	padding: 6px 35px 5px 28px;
	color: #fff;
	text-decoration: none;
}
ul.men li.selected a {
	color: #0000c9;
}
ul.men li a:hover {
	color:#e4ec04;
}
ul {
	margin: 0px 0 0px 0px;
}
ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
}

.footer
{
	height: 200px;
	width: 73.6%;
	opacity: 0.9;
	margin: 26.5% 0px 0px 12%;
	background-image: url(../img/f.jpg);
}

.footer img
{
	text-align:center;
	width: auto;
	height: auto;
	padding: 0 15px 0 0;
}

.vizit
{
	margin-right: 10%;
	float:right;
	font-size: 18px;
	color: white;

}
